div {
  position: relative;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
}
.container {
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px outset rgb(189, 183, 183);
  border-radius: 10%;
  box-shadow: 10px 5px 5px rgb(39, 38, 38);
  top: 20%;
}

button {
  background-color: rgb(77, 77, 77);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 10px 5px 5px rgb(39, 38, 38);
  border-radius: 10%;
  justify-content: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
  position: static;
}

.confirm modal-body {
  padding-top: 25% !important;

  width: auto;
  margin: var(--bs-modal-margin);
  pointer-events: none;
  padding-top: 25%;
}
lib-ngx-bootstrap-confirm {
  padding-top: 25% !important;
}
